html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}

.container {
    height: 100vh;
    background-image: url("./../assets/images/background-layout-q4.png");
    display: flex;
    justify-content: center;
    align-self: center;
}

.content {
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 90vh;
    max-height: 720px;
    width: 80vw;
    max-width: 980px;
    border-radius: 40px;
    box-sizing: border-box;
    align-self: center;
    position: relative;
}

.registerImagePanel {
    width: 40%;
    height: auto;
}

.logo {
    padding: 40px 0px 0px 40px;
    position: absolute;
    z-index: 2;
}

.decorative-picture {
    width: 410px;
    height: 100%;
    object-fit:cover;
    position: absolute;
    bottom: 0px;
    border-bottom-left-radius: 40px;
    z-index: 1;
}

.registerTextbox {
    max-width: 60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: left;
    z-index: 3;
}

.registerTextbox h1 {
    margin: 0px;
}

.registerTextbox p {
    margin-bottom: 40px;
}

form input {
    margin-bottom: 10px;
}

.formRegister {
    display: flex;
    flex-direction: column;
    align-items: left;
}

form input {
    width: 320px;
    background-color: #ffffff;
    color: #505050;
}

form button,form input {
    height: 36px;
    border-radius: 4px;
    border: 1px solid #b4b3b36b;
    padding-left: 10px;
}

form button {
    width: 100px;
    background-color: #000000;
    color: white;
    margin: 10px 0px 20px 0px;
}

button:active {
    transform: translateY(1px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.inputPhoneDDD, .inputPhone {
    border: 1px solid #b4b3b36b;
    border-radius: 4px;
    height: 36px;
    padding-left: 10px;
    background-color: #ffffff;
    color: #505050;
}

#inputPhoneDDD {
    width: 30px;
    margin-right: 2px;
}

#inputPhone {
    width: 270px;
}

.login {
    color: #080808;
    text-decoration: none;
    font-weight: 600;
    font-size: 12px;
}

.login:visited {
    color: #080808; 
}
  